.header {
    background-color: rgba(229, 84, 115, 0.10);
   max-width: 1920px;
   max-height: 850px;
   margin: 0 auto;
}
.banner-section {
    display: flex;
    align-items: center;
    padding: 0 238px 0 242px;
    gap:97px;
}

.banner-img {
    width: 635px;
    height: 800px;
    margin-top: 50px;
}
.banner-left {
   width: 708px;
   height: 506px;

}
.header-title {
    font-size: 5rem;
    font-weight: 800;
     margin-bottom: 0;

}
.header-description {
  font-size: 1.25rem;
  font-weight: 400;
 
}


/* shared styles */

.text-primary {
  color:rgba(39, 39, 39, 0.60);
}

.btn-primary {
  background-color: rgba(229, 84, 115, 1.00);
  color:white;
 font-size: 1.25rem;
 padding: 20px 43px;
 border-radius: 8px;
 border: none;
 font-weight: 600;
}
.btn-primary:hover{
  background-color: white;
  color:  rgba(229, 84, 115, 1.00);
  cursor: pointer;
  transition: 0.04;
}

.lato {
    font-family: "Lato", sans-serif;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* media styles */
/* small device */

@media screen and (max-width:576px) {
            .banner-section{
              flex-direction: column;
              
            }
            .header {
              height: 1500px;
              width: auto;
            }
}
/* small-medium phone */
@media screen and (max-width:576px) and (max-width:767px) {
            .banner-section{
              flex-direction: column;
              
            }
            .header {
              height: 1500px;
              width: auto;
            }
}


/* medium device  */

@media screen and (min-width:767px) and (max-width:991px) {
                   .banner-section{
              flex-direction: column;
            
            }
 .header {
              height: 1500px;
              width: auto;
            }

}